/* selector universal + body */
* {
    box-sizing: border-box;
    margin: 0;
}

*::-webkit-scrollbar {
  width: 0;
}


body {
  font-family: 'Lato';
}
  

/* header */
header{
  background: #fff;
  position: fixed;
  filter: drop-shadow(0 0 2.5px rgba(0,0,0,0.2));
  width: 100%;
  display: flex;
  z-index: 100;
  height: 90px
}
.site-nav{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.site-nav ul{
  position: absolute;
  width: 100%;
  top: 79px;
  right: 0;
  list-style: none;
  background: #ff6e00;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path .5s ease-in-out;
}
.logo{
  height: 75px;
  width: 150px;

}
.site-nav ul li{
  height: 100%;
  color: white;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}

.site-nav ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  font-family: 'Poppins', sans-serif;
  line-height: 70px; /*80*/
  border: none;
  padding:0px 20px;
  background: transparent;
  cursor: pointer;
  width: 100%;
  outline: none;
  margin-right: 35px
}

.site-nav ul li:hover{
  text-shadow: 1px 1px 2px rgb(240, 240, 240);
}

.container-carousel{
  padding-top: 79px;
  
}
/* open */
.container-option.open{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


/* burger */
.burger{
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.burger >div{
  width: 100%;
  background-color: #0c0b0b;
  height: 2px;
  transition: all .5s ease-in-out;
}
.burger >div::after, 
.burger >div::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0c0b0b;
}
.burger >div::before{
  transform: translateY(-6px);
}
.burger >div::after{
  transform: translateY(6px);
}
.burger.open >div{
  transform: translateX(-5px);
  background-color: transparent;
}
.burger.open > div::after{
  transform: rotate(35deg) translate(5px,-4px);
}
.burger.open > div::before{
  transform: rotate(-35deg) translate(5px,4px);
}

/* carrusel */
@keyframes tonext {
    75% {left: 0;}
    95% {left: 100%;}
    98% {left: 100%;}
    99% {left: 0;}
}

@keyframes tostart {
    75% {left: 0;}
    95% {left: -300%;}
    98% {left: -300%;}
    99% {left: 0;}
}

@keyframes snap {
    96% {scroll-snap-align: center;}
    97% {scroll-snap-align: none;}
    99% {scroll-snap-align: none;}
    100% {scroll-snap-align: center;}
}

/* carousel slides */  
ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
.carousel {
  position: relative;
  padding-top: 42%;
  font-size: 60px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  background-color: #f99;
  counter-increment: item;
  height:100%
}

.carousel__slide:nth-child(even) {
  background-color: #99f;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}
  
.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}
  
.carousel__navigation {
  position: relative;
  margin-top: -60px;
  right: 69px;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}

.carousel__navigation-button {
  width: 1rem;
  height: 1rem;
  background-color: #ff6e00;
  border: 0.1rem solid white;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
  margin: 3px;
}
  
/* botons to slides */

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 20.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: 0;
}

.carousel::after,
.carousel__next {
  right: 0;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}
  
.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}


/* imagesection */
.imageData{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  margin: 20px 0;
  
}
.imageData figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageData figure img{
  width: 84px;
  height: 84px;
  border-radius: 52px;
  background-color: #ff6e00;
}
.imageData figure figcaption{
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-family: "Myriad Pro";
}

.footer{
  width: 100%;  
  background-color: #0c0b0b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato";
  align-content: center;
}

.footer a{
  text-decoration: none;
  color: white;
  margin: 32px;
}


@media screen and (min-width: 1024px) {
    
/* header */
header{
  filter: drop-shadow(0 0 2.5px rgba(0,0,0,0.2));
}

.site-nav{
  background: #fff;
  margin-top: 0;
  width: 100%;
  display: flex;
}

.logo{
  height: 120px;
  width: 270px;

}
.site-nav ul li{
  color: rgb(10, 10, 10);
}

.site-nav ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
  border: 20px;
  height: 100%;
  margin-right: 50px;
  background: #fff;
  position: relative; 
  top: 0px;
  width: 100%;
  clip-path: none;
  
    

}

.site-nav ul li a{
    display: flex;
    align-content: center;
    align-items: center;
    padding: 8px;
    height: 37px;
    font-size: 20px;
    line-height: 20px;
    color: #010101;
    font-weight: 400;
    font-family: "Lato";
    border-bottom: 0px;
    margin-right: 0px
}

/* burger */
.site-nav .burger {
  display: none;
  }
.img-responsive{ 
  width: 104px;
  height: 104px;
  
}

/* footer */
.footer{
  flex-direction: row;
  justify-content: space-around;
  
}
.infoAuthor{
  flex-direction: row
}
.margin{
  margin: 8px
}
}